* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;

}


.primeira-barra-cabecalho {
    display: flex;
    justify-content:center;
    background-color: rgb(78, 74, 74);
    color: white;
    padding: 11px;
    font-family: "Lato", sans-serif;
    font-size: 12;
    font-weight: bolder;
    letter-spacing: .05em;
    text-decoration: none;
    text-transform: none;

}

.primeira-barra-cabecalho-text2{
    color: white;
    border: 3px solid white;
    border-radius: 15px;
    padding: 5px;
    margin: -5px;
    text-decoration: none;
}

.segunda-barra-cabecalho {
    display:flex;
    font-family: "Lato", sans-serif;
    font-size: 17px;
    font-weight: bolder;
    letter-spacing: .05em;
}

.segunda-barra-logo {
    padding: 10px;
    margin: 10px;
}

.segunda-barra-horario {
    display: flex;
    justify-content: center;
    color: black;
    flex: content;
    text-align: center;   
    align-items: center;

}

.segunda-barra-horario a {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;


    
    
}

.terceira-parte-cabeçalho {
    flex: content;
    display: block;
    text-align: center;
    
}

.segunda-barra-pesquisa {
    margin-top: 10px;
}

.segunda-barra-pesquisa input {
    width: 300px;
    position: relative;
    left: 10px;
}

.instagram-facebook-rabecalho {
    padding: 10px;
}

.terceira-barra-cabecalho {
    background-color: blue;
    height: 40px;
    align-items:center;
    color: white;
    padding-top: 7px;
}

.terceira-barra-cabecalho ul {
    display: flex;
    color: white;
    justify-content: center;
    list-style:none;
    font-size: 13px;
    align-items: center;
    
}

.terceira-barra-cabecalho a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    padding: 0px px;
}


.orçamento-menu {
    border: 3px solid black;
    border-radius: 55px;

    margin-left: 40px;
    font-size: 13px;
    background-color: black;
    
}

.icone-whats-absolute {

    left: 10px;
    z-index: 2;
    flex: content;
    flex-wrap: nowrap;
    position: fixed;
    bottom: 4%;
    right: 2%;

}

.container-1 {
    display: flex;
    text-align: end;
}

.container-3 {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: black;
    color: white;
    border: 0px;
    align-items: center;
    flex-wrap: nowrap;
}

.container-3 div {
    margin: 5px;
    justify-content: center;
    display:inline-block;
    padding-left: 40px;
    text-align: center 
}

.container-3 li {
    list-style:none;
    padding-top: 20px;
}

.container-4 {
    display: flex;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-4-esquerdo {
    margin: 85px;
    text-align: justify;
}

.container-4-esquerdo h2 {
    display: flex;
    justify-content: center;

}

.container-4-direito {
    margin-right: 20px;
    margin-left: 10px;
}

footer {
    background-color: black;
    height: 350px;
    color: white;
    margin-top: 100px;
}

.rodape {
    display: flex;

}

.rodape div {
    padding: 30px;

}

.rodape li {
    list-style:none;
}

.rodape h4 {
    display: flex;
    justify-content: center;
    font-weight: bold
}

.mapa {
    display: flex;
    margin-left: 30px;
    
    
}