/* Pagina Home */

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}



.primeira-barra-cabecalho {
    display: flex;
    justify-content:center;
    background-color: rgb(78, 74, 74);
    color: white;
    padding: 11px;
    font-family: "Lato", sans-serif;
    font-size: 12;
    font-weight: bolder;
    letter-spacing: .05em;
    text-decoration: none;
    text-transform: none;
    margin-bottom: 20px;
}

.primeira-barra-cabecalho-text2{
    color: white;
    border: 3px solid white;
    border-radius: 15px;
    padding: 5px;
    margin: -5px;
    text-decoration: none;
}

.segunda-barra-cabecalho {
    display:flex;
    font-family: "Lato", sans-serif;
    font-size: 17px;
    letter-spacing: .05em;
}

.segunda-barra-logo {
    padding: 10px;
    margin: 10px;
}

.segunda-barra-horario {
    display: flex;
    justify-content: center;
    color: black;
    flex: content;
    text-align: center;   
    align-items: center;
}

.segunda-barra-horario a {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;  
}

.terceira-parte-cabeçalho {
    flex: content;
    display: block;
    text-align: center;  
}

.segunda-barra-pesquisa input {
    width: 300px;
    position: relative;
    left: 7px;
    top: 1px;
}

.segunda-barra-pesquisa button {
    border: 1px solid rgb(69, 68, 68);
}

.instagram-facebook-rabecalho {
    padding: 10px;
}


.icone-whats-absolute {

    right: 5px;
    z-index: 20;
    flex: content;
    flex-wrap: nowrap;
    position: fixed;
    bottom: 4%;

}

.container-1 {
    display: flex;
    text-align: end;
}


.container-3 {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: black;
    color: white;
    border: 0px;
    align-items: center;
    flex-wrap: nowrap;
}

.container-3 div {
    margin: 5px;
    justify-content: center;
    display:inline-block;
    padding-left: 40px;
    text-align: center 
}

.container-3 li {
    list-style:none;
    padding-top: 20px;
}

.container-4 {
    display: flex;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

.container-4-esquerdo {
    padding-left: 100px;
    padding-right: 100px;
    text-align: justify;

}

.container-4-esquerdo h2 {
    display: flex;
    justify-content: center;
}

.container-4-direito {
    margin-right: 80px;
    margin-left: 10px;
}

footer {
    background-color: black;
    height: 350px;
    color: white;
    margin-bottom: 0;
}

.rodape {
    display: flex;
    justify-content: center;
    padding: 0;
}

.rodape-esquerdo {
    display: flex;
    justify-content: center;
    padding-right: 210px;
    padding-top: 30px;
}

.rodape1 {
    padding-right: 40px;
}

.rodape li {
    list-style:none;
}

.rodape h4 {
    display: flex;
    justify-content: center;
    font-weight: bold
}

/* ---------------------------------------------------------------------------------------------------------
Menu DropDown */

.dp-menu ul {
    list-style-type: none;
    padding: 0;
    justify-content: center;
    text-align: center;
    z-index: 9;
    margin-bottom: 0;
}

.dp-menu ul {
    background-color: blue;
}

.dp-menu ul li {
    display: inline;
    position: relative;
}

.dp-menu ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    
}

.dp-menu ul li :hover {
    color: white;
    background-color: rgb(0, 0, 0);
    
}

.dp-menu li li :hover {
    color: rgb(3, 3, 3);
    background-color: white;
    
}

.dp-menu ul ul{
    display: none;
    left: 0;
    position: absolute;

}

.dp-menu ul li:hover ul{
    display: block;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.dp-menu ul ul {
    width: 250px;;
}

.dp-menu ul ul li a{
    display: block;
    color: rgb(91, 88, 88);
    border-bottom: 1px dashed black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.home-menu a{
    color: white;
    background-color: black;
    
}

.dp-menu ul li.home-menu a {
    color: antiquewhite;
}


/* ----------------------------------------------------------------------------------------------------- */



/* Pagina Orçamento */

.header-orcamento {
    background-color: black;
    height: 230px;
}

.body-orcamento {
    display: flex;
    padding: 20px;
    padding-top: 0;
}

.lado-esquerdo-orcamento {
    width: 50%;
    padding: 20px;
}

.lado-esquerdo-orcamento h4 {
    display: flex;
    justify-content: center;
    font-weight: bold
}

.imagens-lado-esquerdo-orcamento {
    height: 600px;
    margin-top: 50px;
}

.imagens-lado-esquerdo-orcamento img {
    padding: 5px;
}

.lado-direito-orcamento {
    width: 50%;
}

.lado-direito-orcamento h4 {
    display: flex;
    justify-content: center;
    font-weight: bold
}

.lado-direito-orcamento p {
    display: flex;
    justify-content: center;
    text-align: center;
}

.dados-cliente-para-orcamento {
    text-align: center;
}

.dados-cliente-para-orcamento input {
    line-height: 35px;
    width: 80%;
    border-radius: 15px;
    border: 1;
    color: black;
}

.container-orcamento {
    padding-bottom: 20px;
}

.escolha-os-servicos {
    display: flex;
    justify-content: center;
}

.servicos2 {
    padding-left: 70px;
}

.servico-desejado-orcamento {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.enviar-arquivo-orcamento {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
}

.descricao-detalhada-orcamento {
    text-align: center;
}

.descricao-detalhada-orcamento textarea {
    width: 400px;
    height: 200px;
    border-radius: 13px;
    margin: 5px;
    margin-bottom: 15px;
}

.botao-enviar-oracamento{ 
    display: flex;
    justify-content: center;
    line-height: 40px;
    border: 0;
    border-radius: 10px;
}

.botao-enviar-oracamento input {
    width: 100px;
    background-color: black;
    color: white;
    font-weight: bold;
    margin: 30px;

}

.fim-orcamento {
    display: flex;
    justify-content: center;

}

.digitalizacao-medida-personalizada label{
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding-top: 15px;
}

/* ------------------------------------------------------------------------------------------

Pagina Copia Orçamento */

.imagens-lado-esquerdo-orcamento-copia {
    margin-bottom: 65px;
    display: flex;
    justify-content: center;
}

.tipos-servicos-copias {
    line-height: 30px;
}

.lado-esquerdo-orcamento p {
    margin: 25px;
    text-align: justify;
}

.servicos1-copia {
    display: flex;
    justify-content: center;
}

.tipos-de-serviços1-tipos-de-copias {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.bloco-tipo-copia-1, .bloco-tipo-copia-2 {
    display: flex;
    justify-content: center;
}

.tipos-de-serviços1 {
    padding-right: 50px;
}

.tipos-de-serviços3 {
    padding-right:66px;
}


/* --------------------------------------------------------------------------------------------------------


Pagina Impressão Orçamento */

.container-orcamento-impressao {
    margin-bottom: 40px;
}

.container-orcamento-quant-copia label {
    display: flex;
    justify-content: center;
    
}

.container-orcamento-quant-copia input {
    width: 400px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.impressao-a4-color-pb {
    border-radius: 30px;
    width: auto;
    height: 33px;
}


/* ------------------------------------------------------------------------------------------------------

Pagina Encadernação Orçamento */

.container-orcamento-encadernacao {
        text-align: center;
        margin-top: 30px;
    }
    
.container-orcamento-encadernacao input {
        line-height: 35px;
        width: 80%;
        border-radius: 15px;
        border: 1;
        color: black;
    }

/* ---------------------------------------------------------------------------------------------------------

Pagina Digitalização Orçamento */

.tipos-de-serviços-medida {
    margin-left: 15px;
}

.digitalizacao-medida-personalizada {
    text-align: center;
    margin-top: 20px;
}

.medidas-dig {
    display: flex;
    justify-content: center;
}

.container-orcamento-digitalizacao input {
    margin-left: 20px;
    border-radius: 15px;
    width: 250px;
    height: 40px;
}

.quant-digitalizacao {
    text-align: center;
    margin-top: 20px;
}

.quant-digitalizacao input {
    border-radius: 15px;
    height: 40px;
    width: 530px;
    margin-left: 20px;
}


/* ------------------------------------------------------------------------------------------------------
Pagina criação de arte */

.lado-esquerdo-orcamento h6 {
    display: flex;
    justify-content: center;
    
}

.tipos-de-serviços-arte1, .tipos-de-serviços-arte2, .tipos-de-serviços-arte3 {
    display: flex;
    justify-content: center;
}

.tipos-de-arte1, .tipos-de-arte2 {
    margin-left: 20px;
}


/* -------------------------------------------------------------------------------------------------------
Pagina Banner-Faixa Orçamento */

.medida-faixa {
    text-align: center;
    margin-top: 40px;
}


/* ---------------------------------------------------------------------------------------------------------
Pagina de Impressão de Projetos */

.impressão-a0 {
    display: flex;
    justify-content: center;
}

.tipo-impressao-1 label, select {
    display: block;
}

.acabamento-plot {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}

.acabamento-plot select {
    width: 530px;
    height: 40px;
    border-radius: 15px;
}


/* ----------------------------------------------------------------------------------------------------------
Pagina como chegar */

.como-chegar {
    display: flex;
    justify-content: center;
}

.como-chegar-lado-esquerdo {
    width: 50%;
}

.conteudo-lado-esquerdo {
    padding: 60px;
    padding-right: 20px;
}

.como-chegar-lado-direto {
    width: 50%;
    height: 600px;
}

.whats-localizacao {
    display: flex;
    justify-content: center;
}

.whats-preto {
    text-align: center;
    margin-right: 80px;
}

.localizacao-preto {
    text-align: center;
}

.mapa {
    margin-top: 50px;
}


.titulo-orcamento {
    margin-left: 270px;
    font-weight: bolder;
    position: relative;
    bottom: 45px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.titulo-orcamento-arte {
    margin-left: 200px;
    font-weight: bolder;
    position: relative;
    bottom: 45px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Pagina Thanks
------------------------------------------------------------------------------- */

.main-thaks {
    background-color: rgb(255, 255, 255);
}

.thanks-h1, .thanks-h2 {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
}

.thanks-h2 {
    margin-bottom: px;
}

.img-thanks {
    display: flex;
    justify-content: center;
}

.button-pagina-inicial{
    display: flex;
    justify-content: center;
}

.button-pagina-inicial button{
    background-color: blue;
    color: white;
    border: 0;
    padding: 5px;
    border-radius: 7px;
    margin-bottom: 20px;
    width: 200px;
}

.placeholder-text::placeholder {
    padding: 5px;

}

