<%- include("./partials/head") %>
  <%- include("./partials/header") %>
  <div class="img1-orcamento"><img src="../../img/img-fundo-header-site.jpg" alt="" height="160px" width="100%"></div>
  <h2 class="titulo-orcamento">Banner e Faixa</h2>
  <div class="body-orcamento">
        <div class="lado-esquerdo-orcamento">
                <div class="imagens-lado-esquerdo-orcamento-copia">
                  <img src="../../img/banner-faixa.jpg" alt="" height="300px">
                </div>
                <p>A JKX Print também possui o serviço de copiadora completa, atendemos as principais
                   universidades, empresas e profissionais da região zona oeste e sul de São Paulo.
                    <br> <br> Nosso atendimento é rápido e entende a sua necessidade, trabalhamos com:</p>
        
        <div class="tipos-servicos-copias">
            <h5>Além de Impressão, Trabalhamos com:</h5>
          <ul>
            <li>Cópias </li>
            <li>Impressões</li>
            <li>Plotagem</li>
            <li>Plastificação</li>
            <li>Digitalização</li>
            <li>Impressos Promocionais</li>

          </ul>
        </div>
      </div>  
        <div class="lado-direito-orcamento">
            <h4>Solicite seu Orçamento</h4>
            <p>Mais praticidade e agilidade no seu atendimento especializado, <br> venha também nos fazer uma visita e conhecer a loja.</p>
            <section id="">
                <form action="/orcamento" method="GET">
                  <div class="dados-cliente-para-orcamento">
                    <div class="container-orcamento">
                        <input id="name" type="text" name="name" placeholder="Nome" required/>
                    </div>
                    <div class="container-orcamento">                   
                        <input id="email" type="email" name="email" placeholder="E-mail" required/>
                    </div>
                    <div class="container-orcamento">
                        <input id="phone" type="tel" name="phone" placeholder="Telefone"  required/>
                    </div>

                  </div>

                  <div class="servico-desejado-orcamento"> Selecione os Serviços que deseja:</div>
                  
                  <div class="digitalizacao-medida-personalizada">
                    <h6><strong>Medidas do Banner:</strong></h6>
                     <div class="medidas-dig">
                        <div class="container-orcamento-digitalizacao">
                            <input id="phone" type="number" name="number" placeholder="0"  required/>
                        </div>
                        <div class="container-orcamento-digitalizacao">
                            <input id="phone" type="number" name="number" placeholder="0"  required/>
                        </div>
                     </div>
                  </div>

                  <div class="quant-digitalizacao">
                    <h6><strong>Numero de Banners:</strong></h6>
                        <div class="container-orcamento-digitalizacao3">
                            <input id="phone" type="number" name="number" placeholder="0"  required/>
                        </div>
                  </div>


                  <div class="medida-faixa">
                    <h6><strong> ou <br><br><br> Medidas da Faixa:</strong></h6>
                     <div class="medidas-dig">
                        <div class="container-orcamento-digitalizacao">
                            <input id="phone" type="number" name="number" placeholder="0"  required/>
                        </div>
                        <div class="container-orcamento-digitalizacao">
                            <input id="phone" type="number" name="number" placeholder="0"  required/>
                        </div>
                     </div>
                  </div>

                  <div class="quant-digitalizacao">
                    <h6><strong>Numero de Faixas:</strong></h6>
                        <div class="container-orcamento-digitalizacao3">
                            <input id="phone" type="number" name="number" placeholder="0"  required/>
                        </div>
                  </div>


                  <div class="enviar-arquivo-orcamento">
                    <h5><strong>Envie seu arquivo:</strong></h5>
                    <input type="file" value="Escolher Arquivo" />
                  </div>
                  <div class="descricao-detalhada-orcamento">
                    <h5><strong>Se preferir descreva mais sobre a sua solicitação:</strong></h5>
                    <input id="name" type="text" name="name" placeholder="" required/>
                  </div>

                  <div class="botao-enviar-oracamento"><input type="submit" value="ENVIAR" /></div>
                  <div><p>Atendimento Especializado <br> (11) 994115609 <br> imagemcenter001@gmail.com</p></div>
                </form>
              </section>

        </div>
    </div>
    <%- include("./partials/footer") %>