<%- include("./partials/head") %>
  <%- include("./partials/header") %>
  <div class="img1-orcamento"><img src="../../img/img-fundo-header-site.jpg" alt="" height="160px" width="100%"></div>
  <h2 class="titulo-orcamento">Cópia</h2>
  <div class="body-orcamento">
        <div class="lado-esquerdo-orcamento">
                <div class="imagens-lado-esquerdo-orcamento-copia">
                  <img src="../../img/Copias.jpg" alt="" height="300px">
                </div>
                <p>A Imagem Center também possui o serviço de copiadora completa, atendemos as principais escolas,
                    empresas e profissionais do Bairro da Freguesia do Ó de São Paulo.
                    <br> <br> Nosso atendimento é rápido e entende a sua necessidade, trabalhamos com:</p>
        
        <div class="tipos-servicos-copias">
          <ul>
            <li>Cópias simples</li>
            <li>Cópias frente e verso</li>
            <li>Impressão em cores ou preto e branco</li>
            <li>Acabamento e encadernação profissional</li>
            <li>Impressão em A4 e A3 Cópias simples</li>
            <li>Impressão de Grandes Formatos</li>
          </ul>
        </div>
      </div>  
        <div class="lado-direito-orcamento">
            <h4>Solicite seu Orçamento</h4>
            <p>Mais praticidade e agilidade no seu atendimento especializado, <br> venha também nos fazer uma visita e conhecer a loja.</p>
            <section id="">
              <form action="https://formsubmit.co/dd33a6b7a2db792e44962c6365edc78e"f method="POST" enctype="multipart/form-data">
                <div class="dados-cliente-para-orcamento">
                    <div class="container-orcamento">
                        <input id="name" type="text" name="Name" class="placeholder-text" placeholder="Nome" required/>
                    </div>
                    <div class="container-orcamento">                   
                        <input id="email" type="email" name="Email" class="placeholder-text" placeholder="E-mail" required/>
                    </div>
                    <div class="container-orcamento">
                        <input id="phone" type="tel" name="Telefone" class="placeholder-text" placeholder="Telefone"  required/>
                    </div>
                    <div><h5><strong>Numero de Cópias</strong></h5></div>
                    <div class="container-orcamento-quant-copia">
                      <input id="phone" type="number" name="Quantidade_de_Copias" min="0" placeholder="0"  required/>
                  </div>
                  </div>

                  <div class="servico-desejado-orcamento"> Selecione os Serviços que deseja:</div>
                  <div class="servico-desejado-orcamento">Medidas:  </div>

                  <div class="escolha-os-servicos-copia"> 

                    <div class="servicos1-copia">
                        <div class="tipos-de-serviços-medida">
                            <label for="scales"> A3 </label>
                            <input type="checkbox" id="scales" name="A3">
                          </div>
                          <div class="tipos-de-serviços1-medida">  
                            <label for="scales"> A4 </label>
                            <input type="checkbox" id="scales" name="A4">
                          </div>
                      </div>

                      <div class="tipos-de-serviços1-tipos-de-copias"><strong>Tipos de Copias:</strong></div>
                      <div class="servicos2-copia">                      
                        
                        <div class="bloco-tipo-copia-1">
                          <div class="tipos-de-serviços1">
                            <label for="scales"> Preto e Branco </label>
                            <input type="checkbox" id="scales" name="PB">
                          </div>  
                          <div class="tipos-de-serviços2">
                            <label for="scales"> Colorido </label>
                            <input type="checkbox" id="scales" name="Colorido">
                          </div>
                        </div>

                        <div class="bloco-tipo-copia-2">
                          <div class="tipos-de-serviços3">
                            <label for="scales"> Frente </label>
                            <input type="checkbox" id="scales" name="Frente">
                          </div>
                          <div class="tipos-de-serviços4">
                            <label for="scales"> Frente e Verso </label>
                            <input type="checkbox" id="scales" name="Frente/Verso">
                          </div>
                        </div>  

                      </div>
                  </div>

                  <input type="hidden" name="_template" value="table">
                  <input type="hidden" name="_subject" value="Orçamento">
                  <input type="hidden" name="_captcha" value="false">
                  <input type="hidden" name="_next" value="http://localhost:3001/thanks">


                  <div class="enviar-arquivo-orcamento">
                    <h5><strong>Envie seu arquivo:</strong></h5>
                    <input type="file" name="Arquivo" accept="image/png, image/jpeg, .pdf, .docx, .cdr, .xlsx, .dwg, .dwf">
                  </div>
                  <div class="descricao-detalhada-orcamento">
                    <h5><strong>Se preferir descreva mais sobre a sua solicitação:</strong></h5>
                    <textarea id="story" name="Mensagem" rows="5" cols="33" class="placeholder-text" placeholder="Descreva mais informações do Serviço"></textarea>
                  </div>

                  <div><p>Atendimento Especializado <br> (11) 994115609 <br> imagemcenter001@gmail.com</p></div>
                  <div class="fim-orcamento"><a href="https://api.whatsapp.com/send?phone=5511994115609&text=Ol%C3%A1%2C%20gostaria%20de
                   %20mais%20informa%C3%A7%C3%B5es%20sobre"><img src="../../img/logo-whats-preto.png" alt="Logo Whats Preto" height="50px"></a></div>
                   <div class="botao-enviar-oracamento"><input type="submit" value="ENVIAR" /></div>
                </form>
              </section>

        </div>
    </div>
    <%- include("./partials/footer") %>