<%- include("./partials/head") %>
  <%- include("./partials/header") %>
  <div class="img1-orcamento"><img src="../../img/img-fundo-header-site.jpg" alt="" height="160px" width="100%"></div>
  <h2 class="titulo-orcamento">Cópia Projetos</h2>
  <div class="body-orcamento">
        <div class="lado-esquerdo-orcamento">
                <div class="imagens-lado-esquerdo-orcamento-copia">
                  <img src="../../img/copias-de-projetos.jpg" alt="" height="300px">
                </div>
                <p>A Imagem Center também possui o serviço de copiadora completa, atendemos as principais escolas,
                  empresas e profissionais do Bairro da Freguesia do Ó de São Paulo.
                  <br> <br> Nosso atendimento é rápido e entende a sua necessidade, trabalhamos com:</p>

                  <div class="tipos-servicos-copias">
                    <h5>Além de Impressão, Trabalhamos com:</h5>
                  <ul>
                    <li>Cópias </li>
                    <li>Impressões</li>
                    <li>Plotagem</li>
                    <li>Plastificação</li>
                    <li>Digitalização</li>
                    <li>Impressos Promocionais</li>
        
                  </ul>
                </div>
        
      </div>  
        <div class="lado-direito-orcamento">
            <h4>Solicite seu Orçamento</h4>
            <p>Mais praticidade e agilidade no seu atendimento especializado, <br> venha também nos fazer uma visita e conhecer a loja.</p>
            <section id="">
              <form action="https://formsubmit.co/dd33a6b7a2db792e44962c6365edc78e"f method="POST" enctype="multipart/form-data">
                <div class="dados-cliente-para-orcamento">
                    <div class="container-orcamento">
                        <input id="name" type="text" name="Name" class="placeholder-text" placeholder="Nome" required/>
                    </div>
                    <div class="container-orcamento">                   
                        <input id="email" type="email" name="Email" class="placeholder-text" placeholder="E-mail" required/>
                    </div>
                    <div class="container-orcamento-impressao">
                        <input id="phone" type="tel" name="Telefone" class="placeholder-text" placeholder="Telefone"  required/>
                    </div>
                    <div><h5><strong>Número de Cópias</strong></h5></div>
                    <div class="impressão-a0">
                      <div class="container-orcamento-quant-copia">
                          <label for="number">A0:</label>
                          <input id="phone" type="number" name="a0" min="0" class="placeholder-text" placeholder="0"  />
                      </div>  
                      <div class="tipo-impressao-1">
                          <label for="">Impressão:</label>
                          <select name="preferencia-copia-a0" class="impressao-a4-color-pb" 
                        aria-required="true" aria-invalid="false">
                        <option value="-"></option><option value="PB">PB</option><option value="Colorido">Colorido</option>
                        </select>
                      </div>
                  </div>
                  <div class="impressão-a0">
                      <div class="container-orcamento-quant-copia">
                          <label for="number">A1:</label>
                          <input id="phone" type="number" name="a1" min="0" class="placeholder-text" placeholder="0"  />
                      </div>  
                      <div class="tipo-impressao-1">
                          <label for="">Impressão:</label>
                          <select name="preferencia-copia-a1" class="impressao-a4-color-pb" 
                        aria-required="true" aria-invalid="false">
                        <option value="-"></option><option value="PB">PB</option><option value="Colorido">Colorido</option>
                        </select>
                      </div>
                  </div>
                  <div class="impressão-a0">
                      <div class="container-orcamento-quant-copia">
                          <label for="number">A2:</label>
                          <input id="phone" type="number" name="a2" min="0" class="placeholder-text" placeholder="0"  />
                      </div>  
                      <div class="tipo-impressao-1">
                          <label for="">Impressão:</label>
                          <select name="preferencia-copia-a2" class="impressao-a4-color-pb" 
                        aria-required="true" aria-invalid="false">
                        <option value="-"></option><option value="PB">PB</option><option value="Colorido">Colorido</option>
                        </select>
                      </div>
                  </div>
                  <div class="impressão-a0">
                      <div class="container-orcamento-quant-copia">
                          <label for="number">A3:</label>
                          <input id="phone" type="number" name="a3" min="0" class="placeholder-text" placeholder="0"  />
                      </div>  
                      <div class="tipo-impressao-1">
                          <label for="">Impressão:</label>
                          <select name="preferencia-copia-a3" class="impressao-a4-color-pb" 
                        aria-required="true" aria-invalid="false">
                        <option value="-"></option><option value="PB">PB</option><option value="Colorido">Colorido</option>
                        </select>
                      </div>
                  </div>

                  <div class="digitalizacao-medida-personalizada">
                      <h6><strong>Medida Personalizada:</strong></h6>
                       <div class="medidas-dig">
                          <div class="container-orcamento-digitalizacao">
                              <label for="">Altura:</label>
                              <input id="phone" type="number" name="Altura" min="0" step="0.1" class="placeholder-text" placeholder="0"  required/>
                          </div>
                          <div class="container-orcamento-digitalizacao">
                              <label for="">Largura:</label>
                              <input id="phone" type="number" name="Largura" min="0" step="0.1" class="placeholder-text" placeholder="0"  required/>
                          </div>
                       </div>
                    </div>

                    <div class="acabamento-plot">
                      <h6><strong>Acabamento:</strong></h6>
                    <select name="Acabamento" class="impressao-plot" 
                        aria-required="true" aria-invalid="false" required>
                        <option value="Dobra">Dobra</option><option value="Enrola">Enrola</option>
                    </select>
                    </div>

                      <input type="hidden" name="_template" value="table">
                      <input type="hidden" name="_subject" value="Orçamento">
                      <input type="hidden" name="_captcha" value="false">
                      <input type="hidden" name="_next" value="http://localhost:3001/thanks">

                    </div>

                  <div class="enviar-arquivo-orcamento">
                    <h5><strong>Envie seu arquivo:</strong></h5>
                    <input type="file" name="Arquivo" accept="image/png, image/jpeg, .pdf, .docx, .cdr, .xlsx, .dwg, .dwf">
                  </div>
                  <div class="descricao-detalhada-orcamento">
                    <h5><strong>Se preferir descreva mais sobre a sua solicitação:</strong></h5>
                    <textarea id="story" name="Mensagem" rows="5" cols="33" class="placeholder-text" placeholder="Descreva mais informações do Serviço"></textarea>
                  </div>

                  <div><p>Atendimento Especializado <br> (11) 994115609 <br> imagemcenter001@gmail.com</p></div>
                  <div class="fim-orcamento"><a href="https://api.whatsapp.com/send?phone=5511994115609&text=Ol%C3%A1%2C%20gostaria%20de
                   %20mais%20informa%C3%A7%C3%B5es%20sobre"><img src="../../img/logo-whats-preto.png" alt="Logo Whats Preto" height="50px"></a></div>
                   <div class="botao-enviar-oracamento"><input type="submit" value="ENVIAR" /></div>
                </form>
              </section>

        </div>
    </div>
    <%- include("./partials/footer") %>