<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
        <title>Orçamento - Imagem Center</title>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/public/CSS/styles.css">
    </head>
    <header class="header-orcamento">

    </header>
<body>
    <div class="img1-orcamento"></div>
    <div class="body-orcamento">
        <div class="lado-esquerdo-orcamento">
                <div class="imagens-lado-esquerdo-orcamento-copia">
                    <img src="/public/img/teste.jpg" alt="" height="250px">
                </div>
                <h6><strong>G DESIGNER ONLINE - (PARCEIRO)</strong></h6>
                <br>
                <p> A JKX Print também possui o serviço de copiadora completa, atendemos as principais
                   universidades, empresas e profissionais da região zona oeste e sul de São Paulo.
                    <br> <br> Nosso atendimento é rápido e entende a sua necessidade, trabalhamos com:</p>
        
        <div class="tipos-servicos-copias">
            <h5>Além de Impressão, Trabalhamos com:</h5>
          <ul>
            <li>Cópias </li>
            <li>Impressões</li>
            <li>Plotagem</li>
            <li>Plastificação</li>
            <li>Digitalização</li>
            <li>Impressos Promocionais</li>

          </ul>
        </div>
      </div>  
        <div class="lado-direito-orcamento">
            <h4>Solicite seu Orçamento com nosso Parceiro</h4>
            <p>Mais praticidade e agilidade no seu atendimento especializado, <br> venha também nos fazer uma visita e conhecer a loja.</p>
            <section id="">
                <form action="/orcamento" method="GET">
                  <div class="dados-cliente-para-orcamento">
                    <div class="container-orcamento">
                        <input id="name" type="text" name="name" placeholder="Nome" required/>
                    </div>
                    <div class="container-orcamento">                   
                        <input id="email" type="email" name="email" placeholder="E-mail" required/>
                    </div>
                    <div class="container-orcamento">
                        <input id="phone" type="tel" name="phone" placeholder="Telefone"  required/>
                    </div>

                  </div>

                  <div class="servico-desejado-orcamento"> Selecione os Serviços que deseja:</div>
                  <div class="servico-desejado-orcamento">Itens para criação:  </div>

                  <div class="escolha-os-servicos-copia"> 

                    <div class="servicos1-copia">

                        <div class="tipos-de-serviços-arte">

                            <div class="tipos-de-serviços-arte1">
                                <div class="tipos-de-arte1">
                                <label for="scales"> Cartão de Visita </label>
                                <input type="checkbox" id="scales" name="scales" checked>
                              </div>
                              <div class="tipos-de-arte1">
                                <label for="scales"> Cardápio </label>
                                <input type="checkbox" id="scales" name="scales" checked>
                              </div>
                              <div class="tipos-de-arte1">
                                <label for="scales"> Cartaz </label>
                                <input type="checkbox" id="scales" name="scales" checked>
                              </div>
                              <div class="tipos-de-arte1">
                                <label for="scales"> Adesivo </label>
                                <input type="checkbox" id="scales" name="scales" checked>
                              </div></div>

                            <div class="tipos-de-serviços-arte2">
                                <div class="tipos-de-arte2">
                                    <label for="scales"> Banner </label>
                                    <input type="checkbox" id="scales" name="scales" checked>
                                  </div>
                                  <div class="tipos-de-arte2">  
                                    <label for="scales"> Flyer </label>
                                    <input type="checkbox" id="scales" name="scales" checked>
                                  </div>
                                  <div class="tipos-de-arte2">
                                    <label for="scales"> Folder </label>
                                    <input type="checkbox" id="scales" name="scales" checked>
                                  </div>
                                  <div class="tipos-de-arte2">  
                                    <label for="scales"> Faixa </label>
                                    <input type="checkbox" id="scales" name="scales" checked>
                                  </div>
                            </div>
                              
    
                              <div>
                                <div class="tipos-de-serviços-arte3">
                                    <label for="scales"> Outros </label>
                                    <input type="checkbox" id="scales" name="scales" checked>
                                  </div>
                              </div>
                          </div>
                      </div>
                        </div>

                  <div class="enviar-arquivo-orcamento">
                    <h5><strong>Envie seu arquivo:</strong></h5>
                    <input type="file" value="Escolher Arquivo" />
                  </div>
                  <div class="descricao-detalhada-orcamento">
                    <h5><strong>Se preferir descreva mais sobre a sua solicitação:</strong></h5>
                    <input id="name" type="textarea" name="name" placeholder="" required/>
                  </div>

                  <div class="botao-enviar-oracamento"><input type="submit" value="ENVIAR" /></div>
                  <div><p>Atendimento Especializado <br> (11) 976497012 <br> contatogdesigneronline@gmail.com</p></div>
                </form>
              </section>

        </div>
    </div>
</body>
</html>