<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagem Center</title>
    <link rel="stylesheet" href="/public/CSS/styles.css">
</head>

<header>
    <div class="primeira-barra-cabecalho">
         IMPRESSÃO RÁPIDA &nbsp &nbsp &nbsp &nbsp &nbsp|&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
         <a href="/src/views/index.html" class="primeira-barra-cabecalho-text2">SOLICITE SEU ORÇAMENTO</a> 
    </div>
    <div class="segunda-barra-cabecalho">
        <div class="segunda-barra-logo"> <a href="index.html"> <img src="/public/IMG/logo-imagem-center.jpeg" alt="Logo Imagem Center" height="110px"> </a>
        </div>
        <div class="segunda-barra-horario">
          <strong class="texx"> ABERTO - SEG À SEX 08H AS 19H  | SAB 09H AS 13H <br>
          RUA ANTONIETA LEITÃO, 136 <br> <a href="/src/views/index.html"> <img src="/public/IMG/whats-logo.png" alt="Logo WhatsApp" height="20px"> 11 994115609 </a> </strong> 
        </div>
        <div class="segunda-barra-pesquisa">
            <input type="search" name="pesquisa" id="" placeholder="Pesquisa...">
            <button type="button"></button>
            <img src="/public/IMG/lupa.png" alt="Lupa de Pesquisa" height="40px">
          </div>
          <div class="instagram-facebook-rabecalho">
            <a href=""> <img src="/public/IMG/instagram.webp" alt="" height="50px"></a>
            <a href=""> <img src="/public/IMG/Facebook.png" alt="" height="50px"></a>
          </div>
    </div>
    <div class="terceira-barra-cabecalho">
        <ul>
            <li class="home-menu">HOME </li>
            <li>IMPRESSÕES ⮟</li>
            <li>PLOTAGEM ⮟</li>
            <li>COMUNICAÇÃO VISUAL ⮟</li>
            <li>PROMOCIONAL ⮟</li>
            <li>COMO CHEGAR</li>
            <li>CONTATO</li>
            <li class="orçamento-menu"><strong>ORÇAMENTO</strong></li>
        </ul>
    </div>
</header>

<body>
</body>

<footer>
</footer>

</html>