<%- include("./partials/head") %>
  <%- include("./partials/header") %>
  <main>
    <section class="container-1">

    </section>
    <div class="container-2">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false">  
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"></li>
        </ol>
    
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../img/banner1.jpg" class=" bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="405" >
            <rect width="100%" height="100%" fill="#777"></rect>
          </div>
          <div class="carousel-item ">
            <img src="../../img/banner2.jpg" class=" bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="405" >
            <rect width="100%" height="100%" ></rect>
          </div>
          <img src="" alt="">
          <div class="carousel-item ">
            <img src="../../img/banner3.jpg" class=" bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="405" >
            <rect width="100%" height="100%" fill="#777"></rect>
          </div>
          <div class="carousel-item ">
            <img src="../../img/banner4.jpg" class=" bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="405" >
            <rect width="100%" height="100%" fill="#777"></rect>
          </div>
          <div class="carousel-item ">
            <img src="../../img/banner5.jpg" class=" bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="405" >
            <rect width="100%" height="100%" fill="#777"></rect>
          </div>
          <div class="carousel-item ">
            <img src="../../img/banner6.jpg" class=" bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="405" >
            <rect width="100%" height="100%" fill="#777"></rect>
          </div>
          </div>
        </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Anterior</font>
            </font></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Próximo</font>
            </font></span>
          </button>
      </div>
    </div>
  
    <div class="container-3">
      <ol>
        <div class="container-3-1">
        <img src="../../img/Impressão Rapida.png" alt="" width="80px">
        <li>Impressão Rapida</li>
      </div>
        <div class="container-3-1">
        <img src="../../img/atendimento.png" alt="" width="80px">
        <li>Atendimento Especializado</li>
      </div>
        <div class="container-3-1">
        <img src="../../img/Qualidade.png" alt="" width="80px">
        <li>Qualidade no Acabamento</li>
      </div>
        <div class="container-3-1">
        <img src="../../img/Serviços.png" alt="" width="80px">
        <li>Variedades de Serviços</li> 
      </div>
      </ol>
    </div>

    <div class="container-4">
      <div class="container-4-esquerdo">
        <h2><strong>Imagem Center</strong></h2>
        <br>
        <p>
          GRÁFICA RÁPIDA E SOLUÇÃO DE IMPRESSÃO PERSONALIZADA PARA O SEU NEGÓCIO.
          Oferecemos soluções personalizada e suporte completo para a impressão de materiais corporativos, de marketing, vendas, 
          em grandes tiragens e com alta qualidade de impressão e acabamento.
          
          Temos equipamentos de ponta e profissionais qualificados, prontos para atender qualquer solicitação e garantindo uma entrega
           rápida e com excelência.</p>
      </div>
      <div class="container-4-direito">
        <img src="../../img/fachada-loja.JPG" alt="" height="400px">
      </div>
    </div>
  </main>
  <%- include("./partials/footer") %>