<%- include("./partials/head") %>
  <%- include("./partials/header") %>
  
    <div class="img1-orcamento"><img src="../../img/img-fundo-header-site.jpg" alt="" height="160px" width="100%"></div>
    <h2 class="titulo-orcamento">Orçamento</h2>
    <div class="body-orcamento">
        <div class="lado-esquerdo-orcamento">
            <h4>ATENDIMENTO PERSONALIZADO</h4>
            <p>Para facilitar o seu dia-a-dia, você pode solicitar seu orçamento preenchendo o formulário, por telefone,
                email ou direto aqui na loja. 
                <br> <br>
                Nossa loja fica na Rua Antonieta Leitão, 136. Uma das principais Graficas da
                região com fácil acesso. Estamos próximos aos principais Colegios e Commercios
                da região e próximo a maior zona comercial de SP. 
                <br> <br>
                Será um imenso prazer atendê-los em nossa loja, nosso
                atendimento é treinado para entender a sua necessidade, sugerir soluções e produzir rapidamente o que precisa.
                <br> <br>
                Venha conhecer a Imagem Center</p>

                <div class="imagens-lado-esquerdo-orcamento">
                    <img src="../../img/funcionarios1.jpg" alt="" height="250px">
                    <img src="../../img/funcionarios2.jpg" alt="" height="250px">
                    <img src="../../img/funcionarios3.jpg" alt="" height="250px">
                    <img src="../../img/funcionarios4.jpg" alt="" height="250px">
                </div>
        </div>
        <div class="lado-direito-orcamento">
            <h4>Solicite seu Orçamento</h4>
            <p>Mais praticidade e agilidade no seu atendimento especializado, <br> venha também nos fazer uma visita e conhecer a loja.</p>
            <section id="">
                 <form action="https://formsubmit.co/gabrieloliveirasantos169@gmail.com"f method="POST" enctype="multipart/form-data">
          
                <div class="dados-cliente-para-orcamento">
                    <div class="container-orcamento">
                        <input id="name" type="text" name="Name" placeholder="Nome" required/>
                    </div>
                    <div class="container-orcamento">   
                      <input type="email" name="Email" placeholder="E-mail" required>
                    </div>
                    <div class="container-orcamento">
                        <input id="phone" type="tel" name="Telefone" placeholder="Telefone"  required/>
                    </div>
                  </div>

                    <input type="hidden" name="_template" value="table">
                    <input type="hidden" name="_subject" value="Orçamento">
                    <input type="hidden" name="_captcha" value="false">

                  <div class="servico-desejado-orcamento"> Selecione os Serviços que deseja:</div>

                  <div class="escolha-os-servicos"> 

                    <div class="servicos1">
                        <div class="tipos-de-serviços1">
                            <label for="scales"> Impressões </label>
                            <input type="checkbox" id="scales" name="Impressão" >
                          </div>
                          <div class="tipos-de-serviços1">
                            <label for="scales"> Plotagem </label>
                            <input type="checkbox" id="scales" name="Plotagem" >
                          </div>
                          <div class="tipos-de-serviços1">
                            <label for="scales"> Encadernação </label>
                            <input type="checkbox" id="scales" name="Encadernação" >
                          </div>
                          <div class="tipos-de-serviços1">
                            <label for="scales"> Fotos </label>
                            <input type="checkbox" id="scales" name="Fotos" >
                          </div>
                      </div>
    
                      <div class="servicos2">
                        <div class="tipos-de-serviços2">
                            <label for="scales"> Copias </label>
                            <input type="checkbox" id="scales" name="Copias" >
                          </div>
                          <div class="tipos-de-serviços2">
                            <label for="scales"> Banner </label>
                            <input type="checkbox" id="scales" name="Banner" >
                          </div>
                          <div class="tipos-de-serviços2">
                            <label for="scales"> Plastificação </label>
                            <input type="checkbox" id="scales" name="Plastificação" >
                          </div>
                          <div class="tipos-de-serviços2">
                            <label for="scales"> Digitalização </label>
                            <input type="checkbox" id="scales" name="Digitalização" >
                          </div>
                      </div>
                  </div>

                  <div class="enviar-arquivo-orcamento">
                    <h5><strong>Envie seu arquivo:</strong></h5>
                    <input type="file" name="Arquivo" accept="image/png, image/jpeg, .pdf, .docx, .cdr, .xlsx, .dwg, .dwf">
                  </div>
                  <div class="descricao-detalhada-orcamento">
                    <h5><strong>Se preferir descreva mais sobre a sua solicitação:</strong></h5>
                    <input id="name" type="text" name="Mensagem" placeholder="" />
                  </div>


                  <div><p>Atendimento Especializado <br> (11) 994115609 <br> imagemcenter001@gmail.com</p></div>
                  <div class="fim-orcamento"><a href="https://api.whatsapp.com/send?phone=5511994115609&text=Ol%C3%A1%2C%20gostaria%20de
                    %20mais%20informa%C3%A7%C3%B5es%20sobre"><img src="../../img/logo-whats-preto.png" alt="Logo Whats Preto" height="50px"></a></div>
                  <input type="hidden" name="_next" value="http://localhost:3001/thanks">
                  <div class="botao-enviar-oracamento"><input type="submit" value="ENVIAR" /></div>

                </form>
              </section>
        </div>
        
    </div>

    <%- include("./partials/footer") %>