<%- include("./partials/head") %>
<%- include("./partials/header") %>
     <main class="main-thaks">
        <div class="img-thanks"><img src="../../img/recebido.png" alt="recebido" height="250px"></div>
     <h1 class="thanks-h1">Obrigado pelo seu contato!</h1>
     <h2 class="thanks-h2">Retornaremos contato o mais breve possivel :)</h2>
     <div class="button-pagina-inicial"><a href="/"><button class="botao-pagina-inicial">Pagina Inicial</button></a></div>
     </main>

<%- include("./partials/footer") %>