</body>

<footer>
    <div class="rodape">
      <div class="rodape-esquerdo">
        <div class="rodape1">
          <h4>FALE CONOSCO</h4>
          <br>
          <ul>
            <li> 11.99411-5609</li>
            <li>imagemcenter001@gmail.com</li>
            <br>
            <li> Rua Antonieta Leitão, 136 <br>Freguesia do Ó - São Paulo <br> CEP:02925160</li>
          </ul>
        </div>
        <div class="rodape2">
          <h4>ATENDIMENTO</h4>
          <br>
          <ul>
            <h5><strong>Atendimento Online</strong></h5>
            <li> Seg a Sexta: 8h às 17h <br> Sabado: 09h às 12h</li>
            <br>
            <h5><strong>Atendimento Presencial</strong></h5>
            <li> Seg a Sexta: 8h às 19h <br> Sabado: 09h às 13h</li>
          </ul>
        </div>
      </div>

      <div class="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.8415659055636!2d-46.6980464854236!3d-23.
        502215465294956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef84f5df3154d%3A0x35f236a2a13546a!2sImagem
        %20Center!5e0!3m2!1spt-BR!2sbr!4v1663291537019!5m2!1spt-BR!2sbr" width="400" height="250" style="border:0;" 
        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
</footer>
</html>