<header>
      <div>
        <div class="primeira-barra-cabecalho">
          IMPRESSÃO RÁPIDA &nbsp &nbsp &nbsp &nbsp &nbsp|&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
          <a href="/orcamento" class="primeira-barra-cabecalho-text2">SOLICITE SEU ORÇAMENTO</a> 
        </div>
        <div class="segunda-barra-cabecalho">
          <div class="segunda-barra-logo"> <a href="/"> <img src="../../img/logo-imagem-center1.png"
             alt="Logo Imagem Center"
           height="100px"> </a>
          </div>
        <div class="segunda-barra-horario">
          <p>
          <strong class="text"> ABERTO - SEG À SEX 08H AS 19H  | SAB 09H AS 13H <br>
              RUA ANTONIETA LEITÃO, 136 <br> <a href="https://api.whatsapp.com/send?phone=5511994115609&text=Ol%C3%A1%2C%20gostaria%20de
              %20mais%20informa%C3%A7%C3%B5es%20sobre"> <img src="../../img/whats-logo2.png" alt="Logo WhatsApp"
                 height="20px"> 11 994115609 </a> </strong>   
          </p>
         </div>
         
         <div class="terceira-parte-cabeçalho">
           <div class="instagram-facebook-rabecalho">
             <a href="https://www.instagram.com/imagemcenteronline/"> <img src="../../img/instagram.webp" alt="" height="40px"></a>
             <a href="https://www.facebook.com/ImagemCenterOnline/"> <img src="../../img/Facebook.png" alt="" height="40px"></a>
           </div>
           <div class="segunda-barra-pesquisa">
               <input type="search" name="pesquisa" id="" class="placeholder-text" placeholder="Pesquisa...">
               <button type="button"><img src="../../img/lupa.png" alt="Lupa de Pesquisa" height="28px" ></button>
               
            </div>
          </div>
        </div>
      </div>
       <nav class="dp-menu">
        <ul>
          <li class="home-menu"><a href="/">HOME</a></li>
          <li><a href="#">IMPRESSÃO&nbsp⮟</a>
            <ul>
              <li><a href="/copia">Cópia</a></li>
              <li><a href="/impressao">Impressão</a></li>
              <li><a href="/encadernacao">Encadernação</a></li>
              <li><a href="/plastificacao">Plastificação</a></li>
              <li><a href="/digitalizacao">Digitalização</a></li>
              <li><a href="criacao-de-arte">Criação de Arte</a></li>
            </ul>
          </li>
          <li><a href="#">PLOTAGEM&nbsp⮟</a>
            <ul>
              <li><a href="/impressao-projetos">Impressão de Projetos</a></li>
              <li><a href="/copia-projetos">Copia de Projetos</a></li>
            </ul>
          </li>
          <li><a href="#">COMUNICAÇÃO VISUAL&nbsp⮟</a>
            <ul>
              <li><a href="/banner">Banner</a></li>
            </ul>
          </li>
          <li><a href="/contato">CONTATO</a></li>
         </ul>
       </nav>
  </header>